language: javascript | typescript | javascriptreact | typescriptreact
---

name: beforeEach
phrase: before each
insertionScope: statement

$1.wrapperPhrase: before each
$1.wrapperScope: statement
-
beforeEach(() => {
    $1
})$0
---

name: describe
phrase: describe
insertionScope: statement

$1.insertionFormatter: SINGLE_QUOTED_STRING
$2.wrapperPhrase: describe
$2.wrapperScope: statement
-
describe($1, () => {
    $2
})$0
---

name: it
phrase: it
insertionScope: statement

$1.insertionFormatter: SINGLE_QUOTED_STRING
$2.wrapperPhrase: it
$2.wrapperScope: statement
-
it($1, () => {
    $2
})$0
---

name: reactTestingLibraryWaitFor
phrase: wait for
insertionScope: statement

$1.wrapperPhrase: wait for
$1.wrapperScope: statement
-
await waitFor(() => {$1})$2
---

name: viFn
phrase: f n
insertionScope: statement

$1.wrapperPhrase: f n
$1.wrapperScope: statement
-
vi.fn($1)$0
---

name: viMock
phrase: mock
insertionScope: statement

$1.wrapperPhrase: mock
$1.wrapperScope: statement
-
vi.mock('$1',() => ({$2}))$0
---

name: viHoisted
phrase: hoist
insertionScope: statement

$1.insertionFormatter: PRIVATE_CAMEL_CASE
$2.wrapperPhrase: hoist
$2.wrapperScope: statement
-
const $1 = vi.hoisted(() => ($2))$0
---

name: interpolate
phrase: plate

$1.insertionFormatter: PRIVATE_CAMEL_CASE
$1.wrapperPhrase: plate
-
${$1}$0
---
